<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <!--<property name="username" value="shard2"/>-->
                <!--<property name="password" value="shard2"/>-->
            </dataSource>
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>-->
                <!--<property name="url" value="jdbc:oracle:thin:@localhost:1521/EAIST"/>-->
                <!--<property name="username" value="shard2"/>-->
                <!--<property name="password" value="shard2"/>-->
            <!--</dataSource>-->
        </environment>
    </environments>
    <mappers>
        <package name="org.vs.mbsample.dao"/>
    </mappers>
</configuration>